<div class="filtro-container">
  <form  [formGroup]="filterFormGroup" class="example-form" (ngSubmit)="onSubmit(observable)">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre del súper héroe</mat-label>
      <input type="pattern" matInput formControlName ="filtroFormControl" [errorStateMatcher]="matcher"
             placeholder="Ejemplo: Super tío">
      <mat-hint class="hint">Super Filtro</mat-hint>
      @if (filtroFormControl.hasError('pattern') && !filtroFormControl.hasError('required')) {
        <mat-error>Solo letras y espacios</mat-error>
      }
      @if (filtroFormControl.hasError('required')) {
        <mat-error>El nombre es necesario para la búsqueda </mat-error>
      }
      <button class="botonBuscar" matSuffix mat-fab type="submit" color="warn" aria-label="Example icon button with a home icon">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </form>
  <button @fadeInOut *ngIf="disabledBotonLimpiar" class="botonReiniciar" mat-raised-button color="primary" (click)="reiniciarListado(observable)">Reiniciar filtrado</button>
</div>