.header{
    text-align: center;
    margin-top: 20px;
}
.botonCancelar{
    margin-left: 10%;
    margin-right: 10%;
    width: 35%;
    font-size: 15px;
    background-image: linear-gradient(to left, #8000ff, #f16a10);
    min-height: 40px;
    margin-bottom: 3%;
    color: aliceblue;
}
.botonBorrar{
    width: 35%;
    font-size: 15px;
    background-color: rgb(185, 49, 49);
    min-height: 40px;
    margin-bottom: 3%;
}